<section class="user_info">
  <h1>
    <%= gravatar_for @user %>
    <%= @user.name %>
    <span><%= link_to "view my profile", @user %></span>
    <span><b>Microposts:</b> <%= @user.microposts.count %></span>
  </h1>
  <div style='margin-top: 40px;'>
    <%= form_for(@user) do |f| %>

      <%= f.label :profile %>
      <%= f.text_field :profile, class: 'form-control', readonly: true %>
  
      <%= f.label :area %>
      <%= f.text_field :area, class: 'form-control', readonly: true %>
    <% end %>
  </div>
</section>